body {
    background-image: url(./pngtree-skeleton-wallpaper-for-desktop-image_2676654.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1000%;
    background-attachment: fixed;
}
h1 {
    color: aqua;
}
   ul {
    color: aqua;
   }

